sudo: false

language: go

env:
  - GO111MODULE=on

go:
  - 1.12.x

git:
  depth: 1

install: true

notifications:
  email: false

script:
  - make check
  - make cover

after_success:
  - bash <(curl -s https://codecov.io/bash)